<%- include("header") -%>

<h2>This is a about page </h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati maiores, placeat incidunt sequi voluptatum eaque. Accusamus, ratione eos! Magni, nam!</p>

<%- include("footer") -%> 